<div class="py-5 border-top">
  <div class="container">

    <p class="h5 mb-3">{{ site.title | escape }}</p>

    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
          <li>
            <a href="mailto:n.melnikov@depra.org">
              n.melnikov@depra.org
            </a>
          </li>
        </ul>
      </div>

      <div class="col-sm text-right">
        <p>
          <a href="https://discord.gg/kSJp7J3U5d" class="text-decoration-none" target="_blank">
            <img src="{{ "/assets/discord.png" | relative_url }}" width="30" height="30" class="d-inline-block" alt="Discord">
          </a>
          <a href="https://github.com/Depra-Inc" class="text-decoration-none" target="_blank">
            <img src="{{ "/assets/github.png" | relative_url }}" width="30" height="30" class="d-inline-block" alt="Github">
          </a>
        </p>
      </div>

    </div>
  </div>
</div>
